.cartsProduct-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: black;
    text-transform: none;
    padding: 1.5rem;
}
.carts-container{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.carts-Product-container{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid rgb(198, 192, 192);
    border-radius: 10px;
    margin-bottom: 10px;
}
.cartsImg-container{
    width: 150px;
    height: 150px;
    padding: 1rem;
    border-radius: 8px;
}
.cartsImg-container img{
    width: 100%;
    border-radius: 8px;
}
.cartProductDetails{
    width: 82%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.cartsProduct-details{
    padding: 1.1rem 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.carts-product-name{
    
}
.cartsVarient-qty{
    display: flex;
    align-items: center;
}
.cartsVarient-container{
    margin-right: 15px;
}
.cartsVarient-container label{
    color: rgb(73, 71, 71);
    font-size: 0.8rem;
}
.cartsVarient-container select{
    border-radius: 3px;
    padding: 0.1rem;
    outline: none;
}
.cartsQty-container label{
    color: rgb(73, 71, 71);
    font-size: 0.8rem;
}
.cartsQty-container select{
    border-radius: 3px;
    padding: 0.1rem;
    outline: none;
}
.cartsProduct-delivery-date{
    display: flex;
    align-items: center;
    height: 20px;
}

.cartsProduct-delivery-date p{
    margin-right: 10px;
    font-size: 0.8rem;
    color: rgb(73, 71, 71);
}